{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home</title>
	<!-- Bootstrap -->
    	<link href="{%static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
     	<style type="text/css" src="{% static 'bootstrap/css/bootstrap.css' %}"></style>
</head>
<body>
                <span id='clk'></span>
                <p>&nbsp&nbsp在实际项目中，对于一些重要的文本，希望突出强调的部分都会做另<br>外的样式处理。<br>Bootstrap同样对这部分做了一些轻量级的处理。</p>
	<li>
                <div>
                        <h2><a href='http://www.baidu.com'>Baidu</a><small>-----test</small></h2>
                        <tr>2015-03-01</tr>
                <div>
                <tr>123456</tr>
            </li>

            <li>
                <div>
                        <h2><a href='http://www.baidu.com'>Baidu</a></h2>
                        <tr>2015-04-01</tr>
                <div>
                <tr>123456</tr>
            </li>

            <li>
                <div>
                        <h2><a href='http://www.baidu.com'>Baidu</a></h2>
                        <tr>2015-05-01</tr>
                <div>
                <tr>123456</tr>
            </li>
	
                <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
                <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    	<script type="text/javascript">
    	function clock(){
    		setInterval(function(){
    			var time = new Date()
    			document.getElementById('clk').innerHTML = time
    		}, 1000)
    	}
    	clock()
    	</script>
</body>
</html>